body {
    font-weight: 600;
}

body a {
    color: black;
    text-decoration: none;
}

.sign {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}

.sign span {
    font-size: 20px;
    margin-right: 10px;
}

.mainLogo {
    display: flex;
    justify-content: center;
    font-size: 55px;
    margin-right: 20%;
    margin-left: 20%;
}

.headerNav {
    width: 1017px;
    height: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.headerNav ul {
    padding-inline-start: 0px;
    margin: auto;
}

.headerNav ul li {
    list-style: none;
    float: left;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

.headerNav ul li a {
    display: block;
    width: 254px;
    height: 50px;
}

.headerNav ul li a:hover {
    background: rgba(0, 255, 56, 0.28);
}

.contents {
    width: 1014px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.quickHospital {
    text-align: center;
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 10;
    margin: -200px -750px 0 0;
    border-radius: 5px; /* box-shadow: 0 17px 16px rgba(0, 0, 0, 0.35); */
}
.quickDisease {
    text-align: center;
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 10;
    margin: -10px -750px 0 0;
    border-radius: 5px; /* box-shadow: 0 17px 16px rgba(0, 0, 0, 0.35); */
}
aside ul {
    width: 150px;
    height: 150px;
    border: 1.5px solid black;
    overflow-y: scroll;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
aside ul li {
    margin-top: 10px;
    list-style: none;
    text-align: center;
    border: 1.5px solid black;
}
aside ul li a {
    display: block;
}
aside span{
    display: none;
}
