/* 베너고정 */
body {
  font-weight: 600;
}

body a {
  color: black;
  text-decoration: none;
}

.sign {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}

.sign span {
  font-size: 20px;
  margin-right: 10px;
}

.mainLogo {
  display: flex;
  justify-content: center;
  font-size: 55px;
  margin-right: 20%;
  margin-left: 20%;
}
.mainLogo div{
  font-size: 20px;
}
.hospitalName{
  display: flex;
  justify-content: flex-start;
  margin-left: 30%;
  font-size: 20px;
}
.headerNav {
  width: 1017px;
  height: 50px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.headerNav ul, .patient ul {
  padding-inline-start: 0px;
  margin: auto;
}

.headerNav ul li, .patient ul li {
  list-style: none;
  float: left;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.headerNav ul li a , .patient ul li a{
  display: block;
  width: 339px;
  height: 50px;

}

.headerNav ul li a:hover {
  background: rgba(0, 255, 56, 0.28);
}

/* 내용 */
.contents {
  width: 1014px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.doctor {
  width: 300px;
  height: 50px; border: 2px solid black;
  font-size: large; text-align: center;
  margin-left: 40px;
}
.container  {
  position: absolute;
  width: 1014px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
.box  {
  width: 420px; height: 400px;
  border: 2px solid black;
  float:left;
  margin: 40px;
}

.patient  {
  margin: 0 40px;
  width: 930px;
  height: 50px;
  font-size: large; text-align: center;
  border:2px solid black;
  border-collapse:collapse;
  caption-side:bottom;
}

.time {
  width: 400px; height: 180;
  font-size: medium; text-align: center;
  margin: 30px 10px;
}

table th, td {
  border:1px solid black;
  padding: 15px;
}
table th{
  border:0;
}
.class input[type=date] {
  width: 300px;
  height: 50px; border: 2px solid black;
  font-size: large; text-align: center;
  margin-left: 40px;
}